<div class="container">
  <div class="well row col-md-6 col-md-offset-3">

    <% if params[:plan] == '2' %>
      <h2 class="text-center">Pro Sign up</h2>
      <%= render 'pro_form' %>
    <% else %>
      <h2 class="text-center">Basic Sign up</h2>
      <%= render 'basic_form' %>
    <% end %>
      
    <%= render "devise/shared/links" %>
  </div>
    
</div>
