<!DOCTYPE html>
<html>
  <head></head>
  <body>
    
    <p>
      You have received email from DEVMATCH~!
      <%= @contact.name %>, <%= @contact.email %>.
    </p>
    <p>And the comments are as follows:</p>
    <p>
      <%= @contact.comments %>
    </p>
  </body>
</html>