/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* https:// or http:// but it needs '//' */
@import url('//fonts.googleapis.com/css?family=Cormorant+Garamond:400,600,700');
@import 'bootstrap-sprockets';
@import 'bootstrap';

.home-callout, .navbar {
  font-family: 'Cormorant Garamond', serif;
// from uigradients.com 
  background: #43C6AC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43C6AC , #F8FFAE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43C6AC , #F8FFAE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;    
}

.home-callout {
  // compensate for the navbar margin, and give a bit of [space!]
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: -20px;
  // color: white;
}


// Fixing the navbar color code (because of 'specificity')
// these are declared by Bootstrap; they must be overridden here.
// or, we could compile our own Bootstrap, but then we couldn't use the CDN.
.navbar-default {
  .navbar-brand, .navbar-nav > li > a {
    color: blue;
    &:hover {
      color: blue;  // this is not inherited from the Sass, since it is declared by Bootstrap, it must be specified.
      opacity: 0.75;
    }
  }
}

