.avatar-show-css {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: white;
  h3 {
    margin-top: 0;
  }
}


.well.profile-description {
    background-color: #5cb85c;
  }
.well.profile-contact-info {
    background-color: #5bc0de;
    
  }
